header {
    text-align: center;
    padding: 3px;
    background-color: rgb(241, 250, 219);
    font-size: 15px;
}

.header a {
    float: left;
}

.header a:hover {
    background-color: red;
  }

body {
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

body>nav {
    background-color: blanchedalmond;
    justify-content: center;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.sisu {
    background-color:rgb(213, 213, 233);
    display: flex;
    padding: 10px;
    font-size: 17px;
}

.konteiner {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.text {
    font-style: italic;
}

footer {
    padding: 3px;
    background-color: rgb(251, 230, 251);
    color: black;
    font-size: 15px;
}
